* {
  padding: 0;
  margin: 0;
}
body {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: black;
  width: 100vw;
  height: 7.5vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.container {
  display: flex;
}

.left {
  width: 25vw;
  height: 100vh;
  background-color: brown;
}

.center {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

.footer {
  width: 100vw;
  height: 5vh;
  background-color: darkgreen;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 5.2vw;
  height: 7vh;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
}
