* {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
}
body {
  /* background-color: purple; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #ddc1a7;
  width: 100vw;
  height: 11vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.container {
  display: flex;
}

.left {
  width: 25vw;
  height: 100vh;
  background-color: rgb(241, 179, 117);
}

.center {
  width: 100vw;
  height: 100vh;
  background-color: cornsilk;
}

.footer {
  width: 100vw;
  height: 5vh;
  background-color: lightgreen;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 6.2rem;
  height: 4.9rem;
  margin: 3px 0 2px 8px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
}

.img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0.75rem 0.75rem 0.75rem #9b8c80;
  border-radius: 35%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 700;
  color: #493e37;
  position: absolute;
  top: 1rem;
  /* left: 7.82rem; */
  left: 12.5rem;
  font-family: merriweather;
}

.desc {
  /* position: absolute;   */
  position: absolute;
  top: 3rem;
  left: 7.82rem;
  color: #493e37;
}

.search-box {
  border: 1px solid black;
  border-radius: 20px;
  width: 35vw;
  height: 3vh;
  /* padding: 0 35px 0 30px; */
  background-color: transparent;
  /* margin: 0 35px 0 30px; */
}
