* {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
}
body {
  /* background-color: purple; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #dcc0a6;
  width: 100vw;
  height: 8.5vh;
}

/* .container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}

.container {
  display: flex;
}

.left {
  width: 25vw;
  height: 100vh;
  background-color: brown;
}

.center {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

.footer {
  width: 100vw;
  height: 5vh;
  background-color: darkgreen;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 6.25rem;
  height: 5.29rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15%;
}

.img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0.75rem 0.75rem 0.75rem #9b8c80;
}

a {
  text-decoration: none;
}

.title {
  font-size: 700;
  color: #493e37;
  position: absolute;
  top: 1rem;
  left: 7.82rem;
}
