<%- include("includes/head.ejs") %>
  <body>
    <div id="main">
      <div class="header">
        <div class="logo">
          <a href="home.ejs">
            <img src="/Vox.png" alt="vox.png " class="img" />
            <div class="title">

              <h1 class="desc">VOX</h1>
              <p class="desc">From vocal to the head...</p>
            </div>
          </a>
        </div>
        <div class="search">
          <input type="search" placeholder="Search here.." class="search-box" />
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="profile"></div>
      </div>
      <div class="container">
        <div class="left"></div>
        <div class="center"></div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
